<div class="d-flex justify-content-center" style="margin: 18rem;">
  <div class="card" style="width: 72rem;">
    <div class="card-body">
      <h2 class="card-title text-center">
        <%= video_tag "fight.mp4", controls: true %>
      </h2>
    </div>
  </div>
</div>