li.page-item.disabled
  - # rubocop:disable Style/NestedParenthesizedCalls
  = link_to raw(t 'views.pagination.truncate'), '#', class: 'page-link bg-dark text-white'
  - # rubocop:enable Style/NestedParenthesizedCalls
